/.DS_Store
/.pytest_cache
/.vscode
/Adopt a Pet
/Blossom.py
/Coffee_Chatbot.py
/Hacking_the_fender.py
/Python Exercises
/School_Catalouge.py
/ShowBuddy.py
/Thread_Shed.py
/Towers of Hanoi.py
/alien.py
/carlys-clipppers.py
/chrisweek1work.py
/chrisweek2work.py
/codecademy_test.py
/mongodb.py
/physics_class.py
/pokemon.py
/sals-shipping.py
/scrabble.py
/servicedesk-chatbot.py
/test.py
/timweek2work.py